.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    color: azure;
}
#gameContainer{
    font-family: "permanent Marker", cursive;
    text-align: center;
    background-color: rgb(63, 63, 63);
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    color: khaki;
}
h1{
    color: gold;
}
body{
    background-color: darkgray;
}
#statusText{
    color: beige;
}